@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.animation-delay-2000 {
		animation-delay: 2s;
	}
	.animation-delay-4000 {
		animation-delay: 4s;
	}
}

*::selection {
	background-color: #27debf;
}

.flip {
	transform: scaleX(-1);
}
.test {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 1fr;
	align-items: stretch;
}
